#results-container {
  padding: 16px 10px;
}
#google-search-input {
  display: none;
}

body {
  background: #fafafa;
  overflow-y: scroll !important;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.header-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.header-title {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #2b2f39;
}

.search-container {
  padding: 0 16px;
  background: #ffffff;
  border-radius: 6px;
  margin: 0 10px 0px 10px;
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  padding: 15px;
  width: 100%;

  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #2b2f39;
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
}

.result-item {
  padding: 8px;
  display: flex;

  background: #ffffff;
  border-radius: 6px;

  margin-bottom: 8px;
}

.result-item > img {
  width: 132px;
  /* height: 74px; */
  border-radius: 6px;
  margin-right: 16px;
}

.content-title {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;

  color: #2b2f39;
}
.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.0025em;
  color: #9499a6;

  margin-top: 8px;

  text-overflow: ellipsis;
  overflow: hidden;
}

.video-info {
  margin-top: 14px;
  justify-content: space-between;
  display: flex;
}

.source {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.0025em;
  color: #5d6067;
}

.source::before {
  content: url("./assets/yt.svg");
  position: relative;
  top: 2px;
  left: -1px;
}

.views {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
  letter-spacing: 0.0025em;
  color: #5d6067;
}

.next-button {
  display: flex;
  align-items: center;
  padding: 16px 146px;
  width: 95%;
  height: 48px;
  margin: auto;
  background: #ffffff;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  margin-bottom: 16px;
  justify-content: center;
  cursor: pointer;
}

.next-button span {
  margin-right: 7px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #2b2f39;
}

.search-on-google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  width: 60%;
  height: 36px;

  background: #ffffff;
  border-radius: 33px;
  color: #2a8cff;
  border: none;
  cursor: pointer;
  margin: auto;

  margin-bottom: 200px;
}

.search-on-google span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #2a8cff;
}
